<% page.posts.each(function(post) { %>
    <%- partial('_partial/post/article', {post: post})%>
<% }) %>

<div class="paginator-wrapper">
    <%- paginator({
        prev_text: "上一页",
        next_text: "下一页"
    })%>
</div>

