<!DOCTYPE html>
<html lang="utf-8">
<%- partial('_partial/head') %>
<body>
<div class="container">
    <div class="left">
        <%- partial('_partial/left') %>
    </div>
    <div class="right">
        <%- body %>
    </div>
</div>
<%- partial('_partial/foot') %>
</body>
</html>