<div style="margin: 20px">
    <div class="article-info">
        <div class="article-title">
            <h2><%= page.title %></h2>
        </div>
        <div class="article-entry">
            <%- page.content %>
        </div>
    </div>
</div>
