.article {
    margin-bottom: 20px;
    min-height: 150px;
    background: var(--bg-white);
    border-color: var(--bg-light);
    box-shadow: 0 0 30px 0 rgb(40 49 73 / 3%);
}

.article-title {
    border-left: 3px solid var(--bg-gray-dark);
}

.article-title h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-title, .article-entry, .article-tags {
    position: relative;
    padding: 10px 30px;
}

.article-tags {
    height: 52px;
}

.article-tags:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 94%;
    height: 1px;
    margin: 0 3%;
    background-color: var(--bg-light-gray);
}