.site-aside__header {
    width: 76%;
    margin: 100px auto 10px;
    text-align: center;
}
.avatar-wrap {
    border: 5px solid var(--bg-white);
    border-radius: 300px;
    width: 128px;
    margin: 0 auto;
    overflow: hidden;
}
.avatar-wrap .avatar {
    border-radius: 300px;
}
.avatar-wrap .avatar:hover {
    animation: rotateIn 1s;
}
.name-wrap {
    height: 50px;
    margin-top: 10px;
}
.name {
    color: var(--bg-white);
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 28px;
}

.site-aside__nav {
    width: 76%;
    line-height: 34px;
    margin: 0 auto;
    text-align: center;
    min-height: 150px;
}

.site-aside__nav ul li a {
    font-size: 18px;
    min-width: 300px;
    color: var(--bg-gray);
}

.site-aside__nav ul li a:hover {
    color: var(--bg-white);
    cursor: pointer;
}

.site-aside__music {
    text-align: center;
}