:root {
    --theme-color: #008c95;
    --theme-border-color: #d2e3e4;
    --bg-white: #fff;
    --bg-gray: #6c757d;
    --bg-gray-dark: #343a40;
    --bg-light: #f8f9fa;
    --bg-light-gray: #ddd;
}

* {
    box-sizing: border-box;
    font-family: Consolas,“Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;
}

body, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

a, a:link, a:visited, a:hover, a:active, a:link {
    color: var(--bg-gray-dark);
    text-decoration: none;
}

