.container {
    height: 100vh;
}

.container > .left {
    float: left;
    position: fixed;
    width: 220px;
    height: 100%;
    background: var(--bs-gray-dark);
}

.container > .right {
    float: right;
    width: 268px;
    background: var(--bs-white);
}

.container > .main {
    width: calc(100% - 488px);
    min-height: 100vh;
    background: var(--bs-light);
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}