.site-layout {
    height: 100vh;
}

.site-aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    background: var(--bg-gray-dark);
}

.site-main {
    position: relative;
    left: 220px;
    width: calc(100% - 220px);
    min-height: 100vh;
    background: var(--bg-light)
}

.site-main > .site-content {
    width: calc(100% - 288px);
    padding: 20px;
}

.site-main > .site-widget {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 268px;
    padding: 20px;
    background-color: var(--bg-white);
}
