.paginator-wrapper {
    text-align: center;
}

.extend.prev, .extend.next {
    margin: 0 4px;
}

.page-number {
    display: inline-block;
    padding: 0 4px;
}

.page-number.current {
    color: var(--theme-color);
    font-weight: bold
}
