.widget-wrapper {
    margin-bottom: 20px;
    min-height: 100px;
}

.widget-title {
    color: var(--theme-color);
    font-size: 16px;
    padding: 12px 0;
    position: relative;
    border-top: 2px solid var(--theme-border-color);
}

.widget-title:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: var(--theme-color);
}

.widget-search {
    height: 32px;
    width: 100%;
    border: 2px solid var(--theme-border-color);
    border-radius: 8px;
}

.widget-search:focus, .widget-search:active {
    outline: none
}