<div class="widget-wrapper">
    <div class="widget-title">
        搜索
    </div>
    <div>
        <input type="text" class="widget-search" placeholder="搜索内容"/>
    </div>
</div>
<div class="widget-wrapper">
    <div class="widget-title">
        归档
    </div>
    <div>
        <div id="calendar"></div>
    </div>
</div>
<div class="widget-wrapper">
    <div class="widget-title">
        分类
    </div>
    <div>
        <% site.categories.each(function(categroy) { %>
            <a href="<%- url_for(categroy.path) %>" class="category"><%= categroy.name %></a>
        <% }) %>
    </div>
</div>
<div class="widget-wrapper">
    <div class="widget-title">
        标签
    </div>
    <div>
        <% site.tags.each(function(tag) { %>
            <a href="<%- url_for(tag.path) %>" class="tag"><%= tag.name %></a>
        <% }) %>
    </div>
</div>